@model ATM.Models.Error

@{
    ViewBag.Title = "Error";
}

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h1>A error has accured</h1>
        <br />
        <br />
        <ul class="list-group">
            <li class="list-group-item" style="background-color: indianred"><h4><b><a style="color: #FFD700">@Model.errorMessage</a></b></h4></li>
        </ul>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <a class="form-control" href="../Home/">Go back to start</a>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>

</div>