@model ATM.Models.AccountInformation

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h2>Account History</h2>
        <br />
        <br />
        <div class="list-group text-left">
            <a href="#" class="list-group-item active"><b>@Model.account</b></a>
        </div>
        <br />
        <div class="list-group text-left">
            @foreach (var entry in Model.entry)
            {
                <a class="list-group-item"><b>@entry</b></a>
            }
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            <a class="form-control" href="../Bank/Index">Go Back</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="#">Print Saldo</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="#">Print History</a>
        </div>
    </div>

</div>
