@Model

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h2>Account Summery</h2>
        <br />
        <br />
        <div class="list-group text-left">
            <a href="#" class="list-group-item"><b>Account 1 - 5734.1543</b></a>
            <a href="#" class="list-group-item"><b>Account 2 - 5734.1544</b></a>
            <a href="#" class="list-group-item"><b>Account 3 - 5734.1545</b></a>
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            <a class="form-control" href="../Bank/Withdrawal">Withdrawal</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="#">Transfer money</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="../Bank/History">Account History</a>
        </div>
    </div>

</div>