@model ATM.Models.AccountList

@{ 
    ViewBag.Title = "Account Summary";
}

<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h2>Account Summery</h2>
        <br />
        <br />
        <div class="list-group text-left">
            @foreach (var account in Model.account)
            {
                <a href="#" class="list-group-item"><b>@account</b></a>
            }
        </div>
        <br />
        <br />
        <br />
        <div class="col-md-4">
            <a class="form-control" href="../Bank/Withdrawal">Withdrawal</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="#">Transfer money</a>
        </div>
        <div class="col-md-4">
            <a class="form-control" href="../Bank/History">Account History</a>
        </div>
    </div>

</div>