
@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div class="row row-centered">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <table border="1">
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">

    </div>
</div>