<div class="row row-centered">
    <div class="col-md-6 col-md-offset-3">
        <h2>Withdrawal</h2>
        <br />
        <br />
        <center>
            <b><input class="form-control text-center qty" id="sum" name="quantity" type="text" value="0"></b>
        </center>
        <br />
    </div>
</div>
<br />
<div class="row row-centered">
    <div class="col-md-3 col-md-offset-2">
        <button class="form-control qtyminus100" value='100' field='quantity'>-100</button><br />
        <button class="form-control qtyminus200" value='200' field='quantity'>-200</button><br />
        <button class="form-control qtyminus500" value='500' field='quantity'>-500</button><br />
        <button class="form-control qtyminus1000" value='1000' field='quantity'>-1000</button><br />
    </div>
    <div class="col-md-3 col-md-offset-2">
        <button class="form-control qtyplus100" value='100' field='quantity'>+100</button><br />
        <button class="form-control qtyplus200" value='200' field='quantity'>+200</button><br />
        <button class="form-control qtyplus500" value='500' field='quantity'>+500</button><br />
        <button class="form-control qtyplus1000" value='1000' field='quantity'>+1000</button><br />
    </div>
</div>
<br />
<br />
<br />
<div class="row row-centered">
    <div class="col-md-4">
        <a class="form-control" href="../Bank/Index">Back</a>
    </div>
    <div class="col-md-4">
        <a class="form-control" href="#">Withdrawal without recept</a>
    </div>
    <div class="col-md-4">
        <a class="form-control" href="#">Withdrawal with recept</a>
    </div>
</div>

