<script>
    window.setTimeout(function () {
        window.location.href = '../Home/Done';
    }, 8000);
</script>

<h2>About Viking Finances</h2>

<p>Our bank opened 1100 AC from loot and plunder.</p>
