<script>
    window.setTimeout(function () {
        window.location.href = '../Home/Done';
    }, 8000);
</script>

<h2>Contact information</h2>

<address>
    Valhalla drive 1<br />
    Midgard<br />
    1568 784 23
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@vikingfinance.mg</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@vikingfinance.mg</a>
</address>