<script>
    window.setTimeout(function () {
        window.location.href = '../Home/Index';
    }, 4000);
</script>

@{
    ViewBag.Title = "Thank you";
}

<center><h2>Thank you, please come again.</h2></center>

