@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        // apply a change event
        $('#SelectSSN').change(function () {
            // update input box with the currently selected value
            $('#SSN').val($(this).val());
        });
    });
</script>


<div class="jumbotron row-centered">
    <h1>Viking Finances</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row row-centered">
            <center>
                <h2>Please insert card</h2>
                <br />
                <b>Card Info</b>
                @using (Html.BeginForm("index", "Bank", FormMethod.Post))
                {
                    <b><input class="form-control text-center" id="SSN" name="SSN" type="text" value="" readonly></b>
                    <br />
                    <b>PIN</b>
                    <b><input class="form-control text-center" type="password" name="pin" value="" /></b><br /><br />
                    <button class="form-control" type="submit" name="submit"><b>Submit</b></button>
                }
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <select class="form-control" Name="SelectSSN" id="SelectSSN">
                    <option value="" selected="selected">Please insert card</option>
                    <option value="198246162510">Anders	Andersson - (PIN: 1234)</option>
                    <option value="193314167215">Knut Knutsson - (PIN: 1234)</option>
                    <option value="189915261526">Niklas	Lidström - (PIN: 1234)</option>
                    <option value="199004162345">Ulla Olsson - (PIN: 1234)</option>
                    <option value="200106172814">Frida Fredriksson - (PIN: 1234)</option>
                </select>
            </center>
        </div>
    </div>
</div>