@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        // apply a change event
        $('#SelectSSN').change(function () {
            // update input box with the currently selected value
            $('#SSN').val($(this).val());
        });
    });
</script>


<div class="jumbotron row-centered">
    <h1>Viking Finances</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row row-centered">
            <center>
                <h2>Please insert card</h2>
                <br />
                <b>Card Info</b>
                @using (Html.BeginForm("index", "Bank", FormMethod.Post))
                {
                    <b><input class="form-control text-center" id="SSN" name="SSN" type="text" value="" readonly></b>
                    <br />
                    <b>PIN</b>
                    <b><input class="form-control text-center" type="password" name="pin" value="" /></b><br /><br />
                    <button class="form-control" type="submit" name="submit"><b>Submit</b></button>
                }
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <select class="form-control" Name="SelectSSN" id="SelectSSN">
                    <option value="" selected="selected">Please insert card</option>
                    <option value="198712311274">Anders Andersson</option>
                    <option value="197408078514">Bengt Bengtsson</option>
                </select>
            </center>
        </div>
    </div>
</div>